env/
*.xml
*.iml
dataset_1_iris_numeric/Iris_Mythica_Data_Set.csv
.DS_Store
/final_experiments/env/
/final_experiments/results/
*.zip
/experiments/env/
/experiments/results/
/experiments/.idea/
/experiments/.ipynb_checkpoints/
/.venv/
/.venv2/
*.sh
*.pdf
/experiments/results_old/
find_.sh
/src/target/
/src/.idea/
